<!DOCTYPE HTML>
<html>

<head>
	{% block head %}
	<title>{% block title %}{{ sitename }}{% endblock title %}</title>
	<!--[if lte IE 10]>
		<div class="old-browsers">Page broken. Upgrade your browser or make a switch to something better.</div>
	  	<![endif]-->
	<!-- Define charset -->
	<meta charset="utf-8" />
	<!-- End Define charset -->
	<!-- Define viewport -->
	<meta name=viewport id="viewport" content="width=device-width, initial-scale=1">
	<!-- Define viewport -->
	<!-- Favicon -->
	<link rel="shortcut icon" href="/css/favicon.png">
	<!-- End Favicon -->
	<!-- Font loading -->
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
	</style>
	<!-- End font loading -->
	<!-- Load CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<!-- End Load CSS -->
	{% endblock head %}
</head>

<body>
	{% if menuitems %}
	<nav id="nav" class="nav">
		<div id="nav-inner">
			<ul id="nav-logo">
				{% for title, link in (menuitems.items() | list)[:1] %}
				<li id="nav-{{ title }}" title="{{ title }}">
					<a class="nav-{{ title }} nav_link {% if title=="hem" %}activeMenu{% endif %}" title="{{ title }}" {% if ( link=="hem" ) %} href="/" {% else %} href="/{{link}}/" {% endif %}>
						{{title}}
					</a>
				</li>
				{% endfor %}
			</ul>
			<ul id="nav-menu">
				{% for title, link in (menuitems.items() | list)[1:4] %}
				<li id="nav-{{ title }}" title="{{ title }}">
					<a class="nav-{{ title }} nav_link {% if title=="hem" %}activeMenu{% endif %}" title="{{ title }}" {% if ( link=="hem" ) %} href="/" {% else %} href="/{{link}}/" {% endif %}>
						{{title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	{% endif %}

	<main id="main" class="main">
		{% block content %}
		{% endblock %}
	</main>

	<footer id="footer">
		<ul>
			<li>
				<p>Uppdaterad {{ build_date }}</p>
			</li>
			<li>
				<p>&copy; IFK</p>
			</li>
		</ul>
	</footer>
</body>

</html>
